<!DOCTYPE html>
<html>
  <head>
    <title>月儿分发中心 - FF14 BOT</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/assets/css/uikit.min.css" />
    <link rel="stylesheet" href="/assets/css/main.css" />
    <script src="/assets/js/uikit.min.js"></script>
    <script src="/assets/js/uikit-icons.min.js"></script>
    <script src="/assets/js/jquery-3.4.1.min.js"></script>
  </head>
<body>
  <div class="uk-card uk-card-default uk-card-body nav-side">
    <ul class="uk-nav-default uk-nav-parent-icon" uk-nav>
      <li class="title"><a href="#">FF14月儿分发中心</a></li>
      <li class="uk-nav-header">目录</li>
      <li><a href="/">可爱的月華们</a></li>
      <li><a href="/help">月華使用说明</a></li>
      <li><a href="/gallery">月儿の私图库</a></li>
      <li><a href="https://xiv.acgme.cn" target="_blank">外链:阿莉塞的宏书</a></li>
    </ul>
  </div>